.appointmentCard{
    text-align: center;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 15px black;

}

.appointmentCard > p > span {
    font-weight: 600;
    

}

.appointmentCard > button {
    color: red;
    background-color: none;
    border:0;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.appointmentCard > button:hover {
    color:blueviolet;
    

}