.header{
    display: flex;
    justify-content: space-between; /* espacio entre elemntos  */
    padding: 0 100px;
    height: 200px;
    align-items: center;
    box-shadow: 0 15px 15px black;
}

.header > h1{
    color:white;
    font-size: 70px;
}

.navList{
    display: flex; /* mandar al centro la lista */
    list-style: none; /* quitar puntos  */
    gap: 50px; /* espacio entre elemtnos de la lista */
    align-items: center;
}

.navList > li >a {
    text-decoration: none; /* quitar subrayado elementos */
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 40px;
      }

 
a:hover {
     background-color:red;
     color: black;
}

a{
    color: white;
}

h1:hover {
     background-color:red;
     color: black;
     border-radius: 10px;
}

h1{
    color: white;
}

h2{
    color: white;
}

form{
    color: white;
}

.navList > li > button {
    color: red;
    cursor:pointer;
    text-decoration: none; /* quitar subrayado elementos */
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 40px;

}