.header{
    display: flex;
    justify-content: space-between; /* espacio entre elemntos  */
    padding: 0 100px;
    height: 200px;
    align-items: center;
    box-shadow: 0 15px 15px black;
}

.header > h1{
    color:white;
    font-size: 70px;
}

.navList{
    display: flex; /* mandar al centro la lista */
    list-style: none; /* quitar puntos  */
    gap: 50px; /* espacio entre elemtnos de la lista */
    align-items: center;
    
}

.navList > li >a {
    text-decoration: none; /* quitar subrayado elementos */
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 30px;
      }

 
a:hover {
     background-color:white;
     color: black;
    

}

a{
    color: white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 15px 15px black;
    cursor: pointer;
    font-size: 50px;
    



}

h1:hover {
     /* background-color:red; */
     color: black;
     border-radius: 10px;
}

h1{
    color: white;
    text-decoration: none;
}

h2{
    color: white;
}

form{
    color: white;
}

/* .navList > li > button {
    cursor:pointer;
    padding: 10px;
    margin-top: 10px;
    cursor:pointer;
    color:white;
    background-color:red;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 15px black;   

} */

.navList > li > button {
  background-color: transparent; /* fondo transparente */
  color: white;                  /* color del texto */
  border: 2px solid white;       /* borde visible */
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.navList > li > button:hover {
  background-color: red; /* ligeramente visible */
  color: black;
}
