*{
  margin: 0;
  padding: 0;
  
}

/* imagen de fondo */


/* Llenar la pantalla y quitar márgenes */
html, body, #root { height: 100%; }
html, body { margin: 0; }

/* Fondo global desde public/ */
body {
  background-image: url('/bg.jpg');      /* front/public/bg.jpg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;          /* si en móvil salta, lo quitamos luego */
}

/* Evitar que algo tape el fondo con un color sólido */
#root, #root > * { background: transparent !important; }

/* En móviles, mejor sin fixed para evitar parpadeos */
@media (max-width: 768px) {
  body { background-attachment: scroll; }
}
/* .....hasta aca para imagen de fondo */

