.main{
    width: 100%;
    /* height: calc(100vh - 70px); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main > h2{
    font-size: 100px;
    font-weight: 600;
    color: white;
}